
<h1> Manejo de tablas 1</h1>
4 de septiembre 2020

Aplicaremos los conocimientos adquiridos del capitulo 3 de Pandas con tablas provenientes de 3 sitios:


1.-Temperaturas de agua y lluvia:
    https://smn.conagua.gob.mx/es/climatologia/temperaturas-y-lluvias/resumenes-mensuales-de-temperaturas-y-lluvias 
    
    
2.-Salarios minimos:
    https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007  
    
3.-Estadísticas de index mundi:
https://www.indexmundi.com/map/?t=0&v=21&r=xx&l=en

Comenzamos extrayendo las tablas de nuestro interes. Primero la tabla de salarios minimos.

In [1]:
import os
import requests
import pandas as pd

#primero extraemos la tebla de salarios minimos.
#para eso extraemos el url

url = "https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007 "
html = requests.get(url).content

Se nos descarga el archivo html

In [3]:
#generamos una variable para guardar la tabla
file = 'salarios_minimos.csv' 

#extraemos la lista que nos interesa 
df_list = pd.read_html(html, header = 1) 
#header establece el inicio de la tabla

#con esto indicamos dónde la tabla va a terminar:
df = df_list[-1] 
#Y la guardamos con esto
df.to_csv('salarios_minimos.csv')

In [5]:
#procedemos a leer la tabla
df = pd.read_csv(file)
df

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00

Proseguimos seleccionando un par de tablas de Index Mundi

In [19]:
url = 'https://www.indexmundi.com/map/?t=0&v=2223&r=xx&l=en'
html = requests.get(url).content
ma_rate = pd.read_html(html)

In [26]:
ma_rate[1]

,Country,"Maternal mortality rate (deaths/100,000 live births)",Year
0,Chad,1140,2017
1,Sierra Leone,1120,2017
2,Nigeria,917,2017
3,Central African Republic,829,2017
4,Somalia,829,2017
...,...,...,...
173,United Arab Emirates,3,2017
174,Italy,2,2017
175,Norway,2,2017
176,Poland,2,2017
177,Belarus,2,2017

,Unnamed: 0,Fecha de publicación el DOF,Vigente a partir de:,ZLFN1,Resto del país,"""A""","""B""","""C"""
0,0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00